[data-block='evaluationzensus_dashboard'] .content > div:first-child {
    // make progress and header prettier when using fullwidth setting
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr)) !important;

    div {
        align-content: center;
    }

    strong::after {
        content: 'Bis zum 31.03.';
        display: block;
        font-size: small;
        text-transform: none;
    }
}
