.eslintcache
.yarn/
node_modules/
dist/
src/style/**/*.d.ts
src/features/**/*.scss.d.ts
.release-please-manifest.json

redesign.user.js

ics-parser/.wrangler/

CHANGELOG.md

speiseplan.json

# Hopefully temporary (https://github.com/Poliklot/prettier-plugin-handlebars/issues/39)
src/_lib/Drawer/Drawer.mustache
