<div
    id="carousel-item-{{ id }}"
    class="carousel-item submenu"
    role="menu"
    tabindex="-1"
    aria-label="{{ title }}"
>
    <div class="d-flex flex-column h-100">
        <div class="header">
            <button
                class="btn btn-icon carousel-navigation-link text-decoration-none text-body"
                type="button"
                data-carousel-target-id="carousel-item-main"
                aria-label="{{#str}}usermenugoback{{/str}}"
            >
                <span class="dir-rtl-hide">
                    {{#pix}}
    i/arrow-left
{{/pix}}
                </span>
                <span class="dir-ltr-hide">
                    {{#pix}}
    i/arrow-right
{{/pix}}
                </span>
            </button>
            <span id="carousel-item-title-{{ id }}" class="ps-2">
                {{ title }}
            </span>
        </div>
        <div class="dropdown-divider"></div>
        <div
            class="items h-100 overflow-auto"
            role="menu"
            aria-labelledby="carousel-item-title-{{ id }}"
        >
            {{> core/user_action_menu_submenu_items }}
        </div>
    </div>
</div>
