<div id="courseindexdrawercontrols" class="dropdown">
    <button class="btn btn-icon rounded-circle mx-2"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            title="{{#str}}courseindexoptions, courseformat{{/str}}"
    >
        <i class="icon fa fa-ellipsis-v fa-fw m-0" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item"
           href="#"
           data-action="expandallcourseindexsections"
        >
            <i class="icon fa fa-fw fa-angle-double-down mr-0" aria-hidden="true"></i>
            {{#str}}expandall{{/str}}
        </a>
        <a class="dropdown-item"
           href="#"
           data-action="collapseallcourseindexsections"
        >
            <i class="dir-rtl-hide icon fa fa-fw fa-angle-double-right mr-0" aria-hidden="true"></i>
            <i class="dir-ltr-hide icon fa fa-fw fa-angle-double-left mr-0" aria-hidden="true"></i>
            {{#str}}collapseall{{/str}}
        </a>
    </div>
</div>
