@use '/src/style/mixins';

$estimated-marquee-height: 25px;

:local(#localnavbarplus) {
    display: flex;
    align-items: center;
    overflow: auto hidden;

    div {
        padding: 0.5rem;
    }

    a {
        padding: 0;
        div {
            min-width: 50px;
            height: 50px;
            color: #fff;
            border: solid #fff;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &,
            .fa-stack {
                line-height: 1em;
            }
        }
    }

    #localnavbarplus-sos a div {
        background-color: #9b0a7d;
        width: 50px; // I wan't this button to be square
    }

    #localnavbarplus-discrimination a div {
        background-color: #003d86;
    }

    @include mixins.media-down(lg) {
        justify-content: center;

        position: absolute;
        left: 0;

        top: calc(var(--navbar-height));
        opacity: 1;

        width: 100%;
        height: calc(var(--navbar-height));
        &:local(.scroll-down) {
            top: 0;
            z-index: -1;
            opacity: 0;
            pointer-events: none;
        }
        @include mixins.animated {
            transition:
                top 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
        }
    }

    @include mixins.media-down(md) {
        top: calc(var(--navbar-height) + $estimated-marquee-height);
    }
}

#page {
    overflow: scroll !important;

    @include mixins.media-down(lg) {
        padding-top: var(--navbar-height);
    }
    @include mixins.media-down(md) {
        padding-top: calc(var(--navbar-height) + $estimated-marquee-height);
    }
}
