// This file provides global style fixes and improvements applied to the moodle

#page-login-index {
    /* disable the weird scroll behaviour on login page (background image shall not be moved) */
    overflow: hidden;

    #page-wrapper {
        overflow: auto;
    }
}

.custom-control.custom-switch .custom-control-label {
    /* Use a pointer cursor on toggle buttons */
    cursor: pointer;
}

#usernavigation {
    /* avoid overflow of #usernavigation navigation bar */
    max-width: calc(100% - 1rem); /* 1rem is the padding of the navbar */
}

.form-label-addon [data-toggle='popover'] i.icon.fa {
    /* fix info-buttons next to form labels to be aligned left instead of centered */
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.toast-wrapper {
    /* Toasts do have a z-index of 1051 while modals z-index is 1052, although moodle states in their code that 1051 is because of modals: https://github.com/moodle/moodle/blob/1938c438ea1385eb2f62be4df5581e3458588e66/theme/boost/scss/moodle/core.scss#L2615 This snippet fixes this. */
    z-index: 1053;
}

.drawer-toggles .drawer-toggler .btn .icon.fa-fw {
    /* Reset width to .icon default to maintain consistent toggler sizes */
    width: 16px;
}

body:not(.limitedwidth) .secondary-navigation .navigation .nav-tabs {
    /* secondary navigation should be truly centered */
    max-width: unset;
    justify-content: center;
}

.drawer.drawer-right .drawerheader {
    /* close button should be on the right side and header content on the left */
    flex-flow: row-reverse;
}
