:local(.modal-background-image) {
    // Styling the background image of modals
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0.1;
    top: 5%;
    left: 5%;
    object-fit: contain;
    pointer-events: none;

    @media (prefers-contrast: more) {
        // for users that prefer more contrast, modal background images should not be shown.
        display: none;
    }
}

:local(.modal-trigger) {
    cursor: pointer;
}
