// this file contains properties defined by moodle style, used in Better-Moodle

@property --navbar-height {
    /* navbar-height is a property set by Moodle */
    syntax: '<length>';
    inherits: true;
    initial-value: 60px;
}
