@import '_lib/functions';

/* adjust style of settings modal header */
.modal-content:has(##{local('settings-form')}) .modal-header {
    // all elements should have consistent padding and margin
    h5 ~ * {
        padding: 1rem;
        margin: -0.8rem -0.8rem -0.8rem 0;
    }

    // use small font size but not for the button
    h5 ~ :not(button.close) {
        font-size: small;
    }

    // first sibling of the h5 should pull itself and next siblings to the right
    h5 + * {
        margin-left: auto;
    }
}

/* some special style needed for the settings modal: show button text only on hover */
##{local('settings-footer-btns')} > :where(button, a) {
    > span {
        font-size: 0;
        transition: font-size 0.5s;
    }

    &:hover > span {
        font-size: unset;
    }
}