{{< theme_boost/drawer}}
    {{$drawerclasses}}{{{classes}}}{{/drawerclasses}}
    {{$id}}{{{id}}}{{/id}}
    {{$drawerstate}}{{{state}}}{{/drawerstate}}
    {{$tooltipplacement}}{{{tooltip}}}{{/tooltipplacement}}
    {{$drawercontent}}{{{content}}}{{/drawercontent}}
    {{! drawerheading is available in Moodle 4.2+ }}
    {{$drawerheading}}{{{heading}}}{{/drawerheading}}
{{/ theme_boost/drawer}}
