{{< theme_boost/drawer}}
    {{$drawerclasses}}{{{classes}}}{{/drawerclasses}}
    {{$id}}{{{id}}}{{/id}}
    {{$drawerstate}}{{{state}}}{{/drawerstate}}
    {{$tooltipplacement}}{{{tooltip}}}{{/tooltipplacement}}
    {{$drawercontent}}{{{content}}}{{/drawercontent}}
{{/ theme_boost/drawer}}