{{< theme_boost/drawer}}
    {{$drawerclasses}}{{{classes}}}{{/drawerclasses}}
    {{$id}}{{{id}}}{{/id}}
    {{$drawerstate}}{{{state}}}{{/drawerstate}}
    {{$tooltipplacement}}{{{tooltip}}}{{/tooltipplacement}}
    {{$drawercontent}}{{{content}}}{{/drawercontent}}
    {{! drawerheading (>= 402) will be put into an a element (>= 404) }}
    {{! => we use drawerheadercontent instead}}
    {{$drawerheadercontent}}{{{heading}}}{{/drawerheadercontent}}
{{/ theme_boost/drawer}}
