{{! There unfortunately is no standalone component for the mobile primary navigation item, so we need to copy it here  }}
{{#includeTrigger}}
<a id="drop-down-{{sort}}" href="#" class="list-group-item list-group-item-action icons-collapse-expand collapsed d-flex" data-toggle="collapse" data-target="#drop-down-menu-{{sort}}" aria-expanded="false" aria-controls="drop-down-menu-{{sort}}">
   {{{text}}}
   <span class="ml-auto expanded-icon icon-no-margin mx-2">
       {{#pix}} t/expanded, core {{/pix}}
       <span class="sr-only">
           {{#str}} collapse, core {{/str}}
       </span>
   </span>
   <span class="ml-auto collapsed-icon icon-no-margin mx-2">
       {{#pix}} t/collapsed, core {{/pix}}
       <span class="sr-only">
           {{#str}} expand, core {{/str}}
       </span>
   </span>
</a>
{{/includeTrigger}}
<div class="collapse {{#isopen}}show {{/isopen}}list-group-item p-0 border-0" role="menu" id="drop-down-menu-{{sort}}" aria-labelledby="drop-down-{{sort}}">
    {{#children}}
        {{^divider}}
             <a href="{{{url}}}" class="ps-5 {{^isactive}}bg-light{{/isactive}}{{#isactive}}active{{/isactive}} list-group-item list-group-item-action">{{{text}}}</a>
        {{/divider}}
    {{/children}}
</div>
