@use './mixins' as *;

@svg-load mattermost url(../icons/mattermost.svg) {
}

a[href^='https://wetalk.informatik.uni-kiel.de'],
a[href^='https://dill.theorie.informatik.uni-kiel.de'] {
    @include insert-svg-mask('before', svg-inline(mattermost));
}
