@use '/src/style/mixins';

@mixin _insert-before {
    // If is has no children and is not empty (=> text only)
    body.dir-ltr &:not(:has(*)):not(:empty)::before,
    body.dir-rtl &:not(:has(*)):not(:empty)::after,
    // Otherwise: If has a non-empty child
    body.dir-ltr &:has(*:not(:empty))::before,
    body.dir-rtl &:has(*:not(:empty))::after {
        padding-inline-end: 0.25rem;
        @content;
    }
}

@mixin _insert-after {
    // If is has no children and is not empty (=> text only)
    body.dir-ltr &:not(:has(*)):not(:empty)::after,
    body.dir-rtl &:not(:has(*)):not(:empty)::before,
    // Otherwise: If has a non-empty child
    body.dir-ltr &:has(*:not(:empty))::after,
    body.dir-rtl &:has(*:not(:empty))::before {
        padding-inline-start: 0.25rem;
        @content;
    }
}

@mixin _insert($position) {
    @if $position == 'before' {
        @include _insert-before {
            @content;
        }
    } @else if $position == 'after' {
        @include _insert-after {
            @content;
        }
    } @else {
        @error "Unknown position #{$position}.";
    }
}

@mixin insert($position, $content) {
    @include _insert($position) {
        @include mixins.fa-icon;
        content: $content !important;
        display: inline;
    }
}

@mixin insert-svg($position, $svg) {
    @include _insert($position) {
        @include mixins.fa-icon;
        content: 'W';
        display: inline;
        color: transparent; // hide the "W" content
        background-image: $svg;
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box;
        background-position: center;
    }
}

@mixin insert-svg-mask($position, $svg) {
    @include _insert($position) {
        @include mixins.fa-icon;
        content: '\f0c8'; // .fa-square
        display: inline;
        background-color: currentColor;
        mask-image: $svg;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-origin: content-box;
        mask-position: center;
    }
}
