<div>
    <h1>
Hello world! Look here, Moothel (🦣) has created a Loading-Thingy: {{> core/loading}}. That's pretty neet, isn't it?
    </h1>

<p>
Ouh and here we do <b>have</b> a fancy dancy progress bar: {{> core/progress_bar}}. It's pretty cool, isn't it?
</p>

Wanna see a toggle? {{> core/toggle}}

<p>
    {{> core/copy_box}}
</p>

</div>